<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chat app realtime</title>
    <link rel="icon" type="image/x-icon" href="styleForStartPage/img/icons8-speech-bubble-100.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style_for_login_page/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style_for_chat_page/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="style_for_chat_page/css/zectStudio---Sidebar-Menu-by-bbbootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <%- include('partials/popup_video_call.ejs') %>
        <%- include('partials/sidebar.ejs') %>
            <%- include('partials/popup_notification.ejs') %>
                <div class="container">
                    <div class="container-fluid p-0" style=" width: calc(100vw - 80px);">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="card">
                                    <div class="card-header pb-0">
                                        <div class="card-actions float-right">
                                            <div class="dropdown show">
                                                <a href="#" data-toggle="dropdown" data-display="static">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-more-horizontal align-middle">
                                                        <circle cx="12" cy="12" r="1"></circle>
                                                        <circle cx="19" cy="12" r="1"></circle>
                                                        <circle cx="5" cy="12" r="1"></circle>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" id="search" onkeyup="sendData(this)" class="search-bar"
                                            placeholder="Search...">
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Company</th>
                                                    <th>Email</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listFriend">
                                                <% for(let i=0; i < friend.length ; i++ ) { %>
                                                    <tr id="friend">
                                                        <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                                width="32" height="32" class="rounded-circle my-n1"
                                                                alt="Avatar"></td>
                                                        <td id="friendName">
                                                            <%= friend[i].username %>
                                                        </td>
                                                        <td>Good Guys</td>
                                                        <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                                data-cfemail="244345565641505064534d4a504156570a474b49">[email&#160;protected]</a>
                                                        </td>
                                                        <td><span class="badge bg-success">Active</span></td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-actions float-right">
                                            <div class="dropdown show">
                                                <a href="#" data-toggle="dropdown" data-display="static">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                        class="feather feather-more-horizontal align-middle">
                                                        <circle cx="12" cy="12" r="1"></circle>
                                                        <circle cx="19" cy="12" r="1"></circle>
                                                        <circle cx="5" cy="12" r="1"></circle>
                                                    </svg>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="card-title mb-0">Angelica Ramos</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row g-0">
                                            <div class="col-sm-3 col-xl-12 col-xxl-3 text-center">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="64"
                                                    height="64" class="rounded-circle mt-2" alt="Angelica Ramos">
                                            </div>
                                            <div class="col-sm-9 col-xl-12 col-xxl-9">
                                                <strong>About me</strong>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod
                                                    tempor incididunt ut labore et dolore
                                                    magna aliqua.</p>
                                            </div>
                                        </div>
                                        <table class="table table-sm mt-2 mb-4">
                                            <tbody>
                                                <tr>
                                                    <th>Name</th>
                                                    <td>Angelica Ramos</td>
                                                </tr>
                                                <tr>
                                                    <th>Company</th>
                                                    <td>The Wiz</td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                            data-cfemail="05646b6260696c6664457764686a762b666a68">[email&#160;protected]</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Phone</th>
                                                    <td>+1234123123123</td>
                                                </tr>
                                                <tr>
                                                    <th>Status</th>
                                                    <td><span class="badge bg-success">Active</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <strong>Activity</strong>
                                        <ul class="timeline mt-2 mb-0">
                                            <li class="timeline-item">
                                                <strong>Signed out</strong>
                                                <span class="float-right text-muted text-sm">30m ago</span>
                                                <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
                                            </li>
                                            <li class="timeline-item">
                                                <strong>Created invoice #1204</strong>
                                                <span class="float-right text-muted text-sm">2h ago</span>
                                                <p>Sed aliquam ultrices mauris. Integer ante arcu...</p>
                                            </li>
                                            <li class="timeline-item">
                                                <strong>Discarded invoice #1147</strong>
                                                <span class="float-right text-muted text-sm">3h ago</span>
                                                <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
                                            </li>
                                            <li class="timeline-item">
                                                <strong>Signed in</strong>
                                                <span class="float-right text-muted text-sm">3h ago</span>
                                                <p>Curabitur ligula sapien, tincidunt non, euismod vitae...</p>
                                            </li>
                                            <li class="timeline-item">
                                                <strong>Signed up</strong>
                                                <span class="float-right text-muted text-sm">2d ago</span>
                                                <p>Sed aliquam ultrices mauris. Integer ante arcu...</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style type="text/css">
                    .bx-log-out:before {
                        content: "\eb4f";
                        font-size: 1.25rem;
                    }

                    body {
                        background-color: #f7f7fc;
                        font-family: 'Questrial', sans-serif;
                        overflow: hidden;
                    }

                    .container {
                        margin-left: 68px;
                        padding-left: 0px !important;
                        padding-right: 0px !important;
                        height: 100%;
                        width: 100%;
                    }

                    .search-bar {
                        border-radius: 30px;
                        border: 1px solid #ced4da;
                        padding: 6px 20px;
                        width: 270px;

                    }

                    .timeline {
                        list-style-type: none;
                        position: relative
                    }

                    .timeline:before {
                        background: #dee2e6;
                        left: 9px;
                        width: 2px;
                        height: 100%
                    }

                    .timeline-item:before,
                    .timeline:before {
                        content: " ";
                        display: inline-block;
                        position: absolute;
                        z-index: 1
                    }

                    .timeline-item:before {
                        background: #fff;
                        border-radius: 50%;
                        border: 3px solid #3b7ddd;
                        left: 0;
                        width: 20px;
                        height: 20px
                    }

                    .card {
                        box-shadow: 0 0 0.875rem 0 rgba(33, 37, 41, .05);
                    }

                    .card {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        min-width: 0;
                        word-wrap: break-word;
                        background-color: #fff;
                        background-clip: initial;
                        border: 0 solid transparent;
                        border-radius: .25rem;
                    }

                    .card-body {
                        flex: 1 1 auto;
                        height: calc(100vh - 54px - 16px);
                    }

                    .card-header:first-child {
                        border-radius: .25rem .25rem 0 0;
                    }

                    .card-header {
                        border-bottom-width: 1px;
                    }

                    .pb-0 {
                        padding-bottom: 0 !important;
                    }

                    .card-header {
                        padding: 1rem 1.25rem;
                        margin-bottom: 0;
                        background-color: #fff;
                        border-bottom: 0 solid transparent;
                    }

                    .feather {
                        position: absolute !important;
                        right: 0px !important;
                    }
                </style>
                <script src="client-dist/socket.io.js"></script>
                <script data-cfasync="false"
                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script type="text/javascript">
                    const active = document.querySelector("#list-friend");
                    active.setAttribute('class', 'nav_link active');
                    const userID = '<%= userID %>';

                    const socket = io();
                    // This event is fired by the Socket instance upon connection and reconnection.
                    socket.on('connect', () => {
                        socket.emit('user-connected', userID);

                    })
                    const callsound = document.querySelector('.callsound');
                    socket.on('response-to-call-video', data => {
                        if (data.friendID == userID) {
                            popup.style.display = "flex";
                            text.textContent = data.caller_name + " đang gọi cho bạn...";
                            call_off_btn.addEventListener('click', event => {
                                clearTimeout(timeout);
                                popup.style.display = "none";
                                socket.emit('reject-call-video', data);
                            });
                            call_on_btn.addEventListener('click', event => {
                                clearTimeout(timeout);
                                var url = "/videocall/" + friendid + "/" + roomID;
                                socket.emit('leave', { roomID: roomID });
                                window.location.href = url;
                            })
                            const timeout = setTimeout(() => {
                                popup.style.display = "none";
                                socket.emit('reject-call-video', data);
                            }, 50000);
                        }

                    })
                    socket.on('response-reject-call-video', data => {
                        if (data.callerID == userID) {
                            text_reject_call.textContent = data.reciever_name.trim() + " đã từ chối cuộc gọi của bạn";
                            popup_reject_call.style.display = "flex";
                            call_back_btn.addEventListener('click', event => {
                                clearTimeout(timeout);
                                socket.emit('call-video', data);
                            })
                            const timeout = setTimeout(() => {
                                popup_reject_call.style.display = "none";
                            }, 3000);
                        }
                    })

                    socket.on('response-to-close-video-call', data => {
                        if (data == userID) {
                            popup.style.display = "none";
                            popup_reject_call.style.display = "none";
                            text_reject_call.textContent = "Cuộc gọi đã kết thúc !";
                            popup_reject_call.style.display = "flex";
                            setTimeout(() => {
                                window.location.reload();
                            }, 3000);
                        }
                    })
                    let listFriend = document.getElementById("listFriend").querySelectorAll("#friend");

                    function sendData(e) {
                        fetch('getListFriend', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ payload: e.value })
                        }).then(res => res.json()).then(data => {
                            if (data.friend.length == 0) {
                                for (let i = 0; i < listFriend.length; i++) {
                                    listFriend[i].style.display = "none";
                                }

                            } else {
                                for (let i = 0; i < listFriend.length; i++) {
                                    const friendName = listFriend[i].querySelector("#friendName").textContent.trim();
                                    if (!data.friend.includes(friendName)) {
                                        listFriend[i].style.display = "none";
                                    } else {
                                        listFriend[i].style.display = "";
                                    }
                                }
                            }

                        })
                    }
                    socket.on('send-notification-to-friend', data => {
                        if (data.friendid == userID) {
                            const message = '';
                            if (data.message.includes("http://res.cloudinary.com/dz1k6vz7m/image/upload/v1")) {
                                message = "Hình ảnh"
                            } else {
                                message = data.message.slice(0, 40);
                            }
                            message_notification.textContent = message;
                            sender.textContent = data.sender;
                            notification_popup.style.display = "block";
                            setTimeout(() => {
                                notification_popup.style.display = "none";
                            }, 3000)
                        }
                    })
                    // is fired when user closes tab / browser or navigates to another page event
                    window.addEventListener('beforeunload', function () {
                        socket.disconnect(true);
                    });
                    // is fired when the browser has lost access to the network
                    window.addEventListener("offline", () => {
                        socket.disconnect(true);
                    });
                </script>
</body>

</html>