<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chat app realtime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-icon" href="styleForStartPage/img/icons8-speech-bubble-100.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style_for_login_page/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="style_for_chat_page/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="style_for_chat_page/css/zectStudio---Sidebar-Menu-by-bbbootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <%- include('partials/popup_video_call.ejs') %>
        <%- include('partials/sidebar.ejs') %>
            <%- include('partials/popup_notification.ejs') %>
                <div class="container">
                    <div class="main-body">
                        <div class="row gutters-sm">
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            <a href="/fileUpload/<%= filename %>"><img src="<%= filename %>" alt="Admin"
                                                    class="rounded-circle" style="border-radius: 50%;" width="150"
                                                    id="avatar"></a>
                                            <div class="mt-3">
                                                <h4 style="font-weight : 550">
                                                    <%= user.username %>
                                                </h4>
                                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                                <form action="/profile-user/change-avatar" method="post"
                                                    enctype="multipart/form-data">
                                                    <input type="file" name="mySingleFile" accept=".png, .jpg, .jpeg"
                                                        id="input_avatar" onchange="submitFunction()" hidden />
                                                    <button type="submit" id="btn-submit" hidden></button>
                                                    <button type="button" onclick="clickFunction()"
                                                        class="btn btn-outline-primary" id="change-avatar">Change
                                                        avatar</button>
                                                    <!-- default type of button ( if you dont set for it ) is submit -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-3">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-globe mr-2 icon-inline">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                                    <path
                                                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                                    </path>
                                                </svg>Website</h6>
                                            <a class="text-secondary" style="max-width: 225px;" target="_blank"
                                                href="<%= user.link_website %>">
                                                <%= user.link_website %>
                                            </a>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-github mr-2 icon-inline">
                                                    <path
                                                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                                    </path>
                                                </svg>Github</h6>
                                            <a class="text-secondary" style="max-width: 225px;" target="_blank"
                                                href="<%= user.link_github %>">
                                                <%= user.link_github %>
                                            </a>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-twitter mr-2 icon-inline text-info">
                                                    <path
                                                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                                    </path>
                                                </svg>Twitter</h6>
                                            <a class="text-secondary" style="max-width: 225px;" target="_blank"
                                                href="<%= user.link_twitter %>">
                                                <%= user.link_twitter %>
                                            </a>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-instagram mr-2 icon-inline text-danger">
                                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                                </svg>Instagram</h6>
                                            <a class="text-secondary" style="max-width: 225px;" target="_blank"
                                                href="<%= user.link_insta %>">
                                                <%= user.link_insta %>
                                            </a>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-facebook mr-2 icon-inline text-primary">
                                                    <path
                                                        d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
                                                    </path>
                                                </svg>Facebook</h6>
                                            <a class="text-secondary" style="max-width: 225px;" target="_blank"
                                                href="<%= user.link_fb %>">
                                                <%= user.link_fb %>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0" style="font-weight : 550">Full Name </h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.username %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0" style="font-weight : 550">Gender</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.gender %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0" style="font-weight : 550">Birthday </h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.birthday %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0" style="font-weight : 550">Email </h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                    data-cfemail="e2848b92a28897898f978acc838e">
                                                    <%= user.email %>
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0" style="font-weight : 550">Phone number</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.mobilenumber %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0" style="font-weight : 550">Address </h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= user.address %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a class="btn btn-info " target="_parent" id="edit-btn"
                                                    href="/edit-profile">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutters-sm">
                                    <div class="col-sm-6 mb-3">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h6 class="d-flex align-items-center mb-3"><i
                                                        class="material-icons text-info mr-2">assignment</i>Project
                                                    Status
                                                </h6>
                                                <small>Web Design</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <small>Website Markup</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 72%" aria-valuenow="72" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <small>One Page</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 89%" aria-valuenow="89" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <small>Mobile Template</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 55%" aria-valuenow="55" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <small>Backend API</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 66%" aria-valuenow="66" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h6 class="d-flex align-items-center mb-3"><i
                                                        class="material-icons text-info mr-2">assignment</i>Project
                                                    Status
                                                </h6>
                                                <small>Web Design</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <small>Website Markup</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 72%" aria-valuenow="72" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <small>One Page</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 89%" aria-valuenow="89" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <small>Mobile Template</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 55%" aria-valuenow="55" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                                <small>Backend API</small>
                                                <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 66%" aria-valuenow="66" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style type="text/css">
                    .bx-log-out:before {
                        content: "\eb4f";
                        font-size: 1.25rem;
                    }

                    body {
                        color: #1a202c;
                        text-align: left;
                        background-color: #e2e8f0;
                        font-family: 'Questrial', sans-serif;
                        overflow: hidden;
                    }

                    .container {
                        margin-left: 68px;
                        padding-left: 0px !important;
                        padding-right: 0px !important;
                    }

                    .feather {
                        margin-right: 0.5rem !important;
                    }

                    .material-icons {
                        margin-right: 0.5rem !important;
                    }

                    .main-body {
                        width: calc(100vw - 82px);
                    }

                    .card {
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
                    }

                    .card {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        min-width: 0;
                        word-wrap: break-word;
                        background-color: #fff;
                        background-clip: border-box;
                        border: 0 solid rgba(0, 0, 0, .125);
                        border-radius: .25rem;
                    }

                    .card-body {
                        flex: 1 1 auto;
                        min-height: 1px;
                        padding: 1rem;
                    }

                    .gutters-sm {
                        margin-right: -8px;
                        margin-left: -8px;
                    }

                    .gutters-sm>.col,
                    .gutters-sm>[class*=col-] {
                        padding-right: 8px;
                        padding-left: 8px;
                    }

                    .mb-3,
                    .my-3 {
                        margin-bottom: 1rem !important;
                    }

                    .bg-gray-300 {
                        background-color: #e2e8f0;
                    }

                    .h-100 {
                        height: 100% !important;
                    }

                    .shadow-none {
                        box-shadow: none !important;
                    }

                    /* this style for onload feature */
                    .loader {
                        border: 16px solid #f3f3f3;
                        border-radius: 50%;
                        border-top: 16px solid #3498db;
                        width: 100px;
                        height: 100px;
                        -webkit-animation: spin 2s linear infinite;
                        /* Safari */
                        animation: spin 2s linear infinite;
                    }

                    /* Safari */
                    @-webkit-keyframes spin {
                        0% {
                            -webkit-transform: rotate(0deg);
                        }

                        100% {
                            -webkit-transform: rotate(360deg);
                        }
                    }

                    @keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }
                </style>
                <script data-cfasync="false"
                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script src="client-dist/socket.io.js"></script>

                <script type="text/javascript">
                    const active = document.querySelector("#profile-user");
                    active.setAttribute('class', 'nav_link active');
                    const userID = '<%= user.userID %>';
                    const socket = io();
                    // This event is fired by the Socket instance upon connection and reconnection.
                    socket.on('connect', () => {
                        socket.emit('user-connected', userID);

                    })
                    const callsound = document.querySelector('.callsound');
                    socket.on('response-to-call-video', data => {
                        if (data.friendID == userID) {
                            popup.style.display = "flex";
                            text.textContent = data.caller_name + " đang gọi cho bạn...";
                            call_off_btn.addEventListener('click', event => {
                                clearTimeout(timeout);
                                popup.style.display = "none";
                                socket.emit('reject-call-video', data);
                            });
                            call_on_btn.addEventListener('click', event => {
                                clearTimeout(timeout);
                                var url = "/videocall/" + friendid + "/" + roomID;
                                socket.emit('leave', { roomID: roomID });
                                window.location.href = url;
                            })
                            const timeout = setTimeout(() => {
                                popup.style.display = "none";
                                socket.emit('reject-call-video', data);
                            }, 50000);
                        }

                    })
                    socket.on('response-reject-call-video', data => {
                        if (data.callerID == userID) {
                            text_reject_call.textContent = data.reciever_name.trim() + " đã từ chối cuộc gọi của bạn";
                            popup_reject_call.style.display = "flex";
                            const timeout = setTimeout(() => {
                                popup_reject_call.style.display = "none";
                            }, 3000);
                            call_back_btn.addEventListener('click', event => {
                                clearTimeout(timeout);
                                socket.emit('call-video', data);
                            })

                        }
                    })
                    socket.on('response-to-close-video-call', data => {
                        if (data == userID) {
                            popup.style.display = "none";
                            popup_reject_call.style.display = "none";
                            text_reject_call.textContent = "Cuộc gọi đã kết thúc !";
                            popup_reject_call.style.display = "flex";
                            setTimeout(() => {
                                window.location.reload();
                            }, 3000);
                        }
                    })

                    socket.on('send-notification-to-friend', data => {
                        if (data.friendid == userID) {
                            const message = '';
                            if (data.message.includes("http://res.cloudinary.com/dz1k6vz7m/image/upload/v1")) {
                                message = "Hình ảnh"
                            } else {
                                message = data.message.slice(0, 40);
                            }
                            message_notification.textContent = message;
                            sender.textContent = data.sender;
                            notification_popup.style.display = "block";
                            setTimeout(() => {
                                notification_popup.style.display = "none";
                            }, 3000)
                        }
                    })

                    function onload() {
                        document.querySelector(".rounded-circle").setAttribute('class', 'loader');
                    }

                    function clickFunction() {
                        document.getElementById("input_avatar").click();
                    }
                    function submitFunction() {
                        document.getElementById("btn-submit").click();
                    }
                    // is fired when user closes tab / browser or navigates to another page event
                    window.addEventListener('beforeunload', function () {
                        socket.disconnect(true);
                    });
                    // is fired when the browser has lost access to the network
                    window.addEventListener("offline", () => {
                        socket.disconnect(true);
                    });
                </script>
</body>

</html>