<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleUpdateForm.css">
</head>

<body>
    <form action="/update-inf-user" method="post" style="border:1px solid #ccc" target="_parent">
        <div class="container">
            <h1>YOUR PROFILE</h1>
            <hr>
            <label for="fname"><b>First name</b></label>
            <input type="text" value="<%= dataUser[0].firstname %>" name="fname" required>
            <!--The name attribute is used to reference elements in a JavaScript, or to reference form data after a form is submitted.-->

            <label for="lname"><b>Last name</b></label>
            <input type="text" value="<%= dataUser[0].lastname %>" name="lname" required>

            <label for="email"><b>Email</b></label>
            <input type="text" value="<%= dataUser[0].email %>" name="email" required>

            <label for="password"><b>Old password</b></label>
            <input type="text" value="<%= dataUser[0].password %>" name="password" required>

            <label for="repeatPW"><b>New Password</b></label>
            <input type="text" value="<%= dataUser[0].password %>" name="repeatPW" required>

            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Update</button>
            </div>
        </div>
    </form>
</body>

</html>